@model PullOpenSource.Models.DatosEmpresa

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DatosEmpresa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DatosEmpresaID" />
            <div class="form-group">
                <label asp-for="TipoRegistro" class="control-label"></label>
                <input asp-for="TipoRegistro" class="form-control" />
                <span asp-validation-for="TipoRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoArchivo" class="control-label"></label>
                <input asp-for="TipoArchivo" class="form-control" />
                <span asp-validation-for="TipoArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label"></label>
                <input asp-for="Periodo" class="form-control" />
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoMoneda" class="control-label"></label>
                <input asp-for="CodigoMoneda" class="form-control" />
                <span asp-validation-for="CodigoMoneda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

