@model PullOpenSource.Models.DatosEmpleado

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DatosEmpleado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label"></label>
                <input asp-for="EmpleadoId" class="form-control" />
                <span asp-validation-for="EmpleadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sueldo" class="control-label"></label>
                <input asp-for="Sueldo" class="form-control" />
                <span asp-validation-for="Sueldo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoCuenta" class="control-label"></label>
                <input asp-for="NoCuenta" class="form-control" />
                <span asp-validation-for="NoCuenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

